<h1 mat-dialog-title>Apply Discounts</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="orderDetails" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="removeDiscount(element)">
          Remove Discount
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="applyBuy1Get1Free()">Apply Buy 1 Get 1 Free</button>
  <button mat-button (click)="applyBuy2Get1Free()">Apply Buy 2 Get 1 Free</button>
  <button mat-button (click)="apply20PercentOff()">Apply 20% Off</button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
