<div class="category-list">
  <div class="categories">
    <span class="category" data-target="promotion">Promotion</span>
    <span class="category" data-target="best-seller">Best seller</span>
    <span class="category" data-target="burger">Burger</span>
    <span class="category" data-target="sandwich">Sandwich</span>
    <span class="category" data-target="subs">Subs</span>
  </div>
</div>

<!-- Sections correspondantes -->
<div id="promotion" class="section">
  <app-total-orders />


</div>
<div id="best-seller" class="section">

  <app-annual-profit/>

</div>

<div id="burger" class="section">
  <app-daily-average-income/>

</div>

<div id="sandwich" class="section">

 
  <app-total-growth />
 
</div>

<div id="subs" class="section">
  <app-lead-conversations />
  <!-- Contenu de Subs -->
</div>
